@import "tailwindcss";

:root {
    --background: #e9e9e9;
    --surface: #ffffff;
    
    --primary: #111111;
    --secondary: #969696;
    --tertiary: #363636;
    
    --green: #82ca9c;
    --light-green: #c4df9b;
}

.dark {
    --background: #0b0c0d;
    --surface: #0f0f0f;

    --primary: #858383;
    --secondary: #202223;
    --tertiary: #4c4b4c;

    --green: #306e4e;
    --light-green: #3b4b19;
}

.dark .image-brightness {
    filter: brightness(0.8) contrast(1.2) saturate(1.2);
}

@theme {
    --color-background: var(--background);
    --color-surface: var(--surface);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-green: var(--green);
    --color-light-green: var(--light-green);
}