@import "tailwindcss";

:root {
    --background: #e9e9e9;
    --foreground: #1d1d1d;
    --hover: #f2f2f2;
    
    --primary: #111111;
    --secondary: #969696;
    --tertiary: #ffffff;
    
    --green: #82ca9c;
    --light-green: #c4df9b;
}

.dark {
    --background: #0f0f0f;
    --foreground: #3a3a3a;
    --hover: #1d1d1d;

    --primary: #dbdbdb;
    --secondary: #9b9b9b;
    --tertiary: #e4e4e4;

    --green: #63a179;
    --light-green: #97af74;
}

.dark .image-brightness {
    filter: brightness(0.8) contrast(0.9) saturate(1.2);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-hover: var(--hover);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-green: var(--green);
    --color-light-green: var(--light-green);
}