@import "tailwindcss";

:root {
    --background: #e9e9e9;
    --foreground: #1d1d1d;
    
    --primary: #111111;
    --secondary: #969696;
    --tertiary: #ffffff;
    
    --green: #82ca9c;
    --light-green: #c4df9b;
}

.dark {
    --background: #0b0c0d;
    --foreground: #3a3a3a;

    --primary: #dbdbdb;
    --secondary: #9b9b9b;
    --tertiary: #e4e4e4;

    --green: #4a7459;
    --light-green: #8b9e6d;
}

.dark .image-brightness {
    filter: brightness(0.8) contrast(0.9);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);

    --color-green: var(--green);
    --color-light-green: var(--light-green);
}